.mainMenu {
    background-color: lightblue;
    transition: all 0.3s;
    table-layout: fixed;
    align-items: center;
    position: absolute;
    display: table;
    height: calc(100vh - 100px);
    right: -40%;
    width: 40%;
    top: 100px;    
}

.mainMenu a {
    border-left: 10px solid transparent;
    vertical-align: middle;
    display: table-cell;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 40px;
    color: white;
    width: 100%;
}

.nightModeSwitch {
    margin-right: 20px;
}

@media screen and (max-width: 500px) {
    .mainMenu {
        right: -100%;
        width: 100%;
    }
}

@media screen and (min-width: 1000px) {
    .mainMenu {
        display: flex;
        justify-content: space-between;
        height: 100px;
        width: 700px;
        right: 100px;
        top: 0;    
    }

    .mainMenu > .mainLinks {
        position: relative;
        list-style: none;
    }
}

@media screen and (max-width: 999px) {
    .mainMenu > .mainLinks :hover {
        border-left: 10px solid rgb(106, 164, 187);
        background-color: skyblue;
    }

    .mainMenu > .mainLinks{
        position: relative;
        text-align: center;
        display: table-row;
        list-style: none;
    }

    .navActive {
        transform: translate(-100%);
    }

    .burger div {
        background-color: white;
        transition: all 0.3s;
        border-radius: 10%;
        width: 25px;
        height: 3px;
        margin: 5px;
    }

    .toggle .line1 {transform: rotate(-45deg) translate(-5px, 6px);}
    .toggle .line3 {transform: rotate(45deg) translate(-5px, -6px);}
    .toggle .line2 {opacity: 0;}
    .burger {margin-right: 50px;cursor: pointer;}
}