* {
    box-sizing: border-box;
    text-decoration: none;
    /*white-space: nowrap;*/
    padding: 0px;
    margin: 0px;
}

*:focus {
    outline: 0;
}

body {
    overflow-x: hidden;
}

nav {
    background-color: lightblue;
    justify-content: flex-end;
    font-family: sans-serif;
    align-items: center;
    white-space: nowrap;
    position: fixed;
    display: flex;
    height: 100px;
    width: 100vw;
    right: 0;
    top: 0;
}

.title {
    position: fixed;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 40px;
    color: white;
    left: 20px;
}

.mainPart {
    background-color: white;
    color: black;
    margin-top: 110px;
}

.mainMenudm > .mainLinks :hover {
    border-left: 10px solid #212121;
    background-color: #181818;
}

.mainMenudm {
    background-color: #1F1F1F;
}

.mainPartdm {
    background-color: #121212;
    color: white;
}